# Ignore Robot Framework results
*/Results
log*.html
report*.html
output*.xml

# Ignore compiled python files
*.pyc

# Ignore emacs temporary files
*~

# Ignore python binary
build/
dist/
src/robotframework_primefaces.egg-info/